---
import { Image } from 'astro:assets';
import Inicio_imagen from '../assets/inicio_img.png';
---
<section>
      <div class="frame">
          <Image 
    src={Inicio_imagen}
    alt="inicio"
  />
    </div>
</section>
<style>

@media (max-width: 1068px) {
  .frame img {
    height: 440px; 
  }
}

@media (max-width: 798px) {
  .frame img {
    height: 360px; 
  }
}
@media (max-width: 600px) {
  .frame img {
    height: 222px; 
}
}
@media (max-width: 400px) {
  .frame img {
    height: 200px; 
  }
}
@media (max-width: 280px) {
  .frame img {
    height: 150px; 
  }
}

</style>