


<div class="quienes-somos-container">
    <img src="/public/quienesSomos.png" alt="Quienes Somos" class="quienes-somos-img" />
</div>

<style>
    .quienes-somos-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .quienes-somos-img {
        max-width: 100%;
        height: auto;
    }
</style>