---
import { Image } from "astro:assets";
import quienesSomos from "../assets/quienesSomos.png";
---

<div class="quienes-somos-container">
    <Image
        src={quienesSomos}
        alt="Quienes Somos"
        class="quienes-somos-img"
        loading="lazy"
        format="webp"
    />
</div>

<style>
    .quienes-somos-container {
        max-width: 100%;
        margin: 0 auto;
    }

    .quienes-somos-img {
        width: 100%;
        height: auto;
    }
</style>
