<a
  class="wa-fab"
  href="https://wa.me/51999999999?text=Hola,%20quiero%20contratar%20Internet%20+%20Cable"
  aria-label="WhatsApp Ventas"
>
  <!-- WhatsApp icon -->
  <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24" fill="currentColor">
    <path d="M20.52 3.48A11.9 11.9 0 0012 0 12 12 0 000 12a11.9 11.9 0 003.48 8.52A11.9 11.9 0 0012 24a12 12 0 000-24zm-1.66 16.86A9.52 9.52 0 013.66 5.14 9.52 9.52 0 0118.86 20.34z"/>
    <path d="M17.4 14.59c-.27-.13-1.6-.79-1.85-.88-.25-.09-.43-.13-.61.13-.18.27-.7.88-.86 1.06-.16.18-.32.2-.59.07-.27-.13-1.14-.42-2.17-1.34-.8-.7-1.34-1.56-1.5-1.82-.16-.27-.02-.41.12-.55.12-.12.27-.32.41-.48.14-.16.18-.27.27-.45.09-.18.05-.34-.02-.48-.07-.13-.61-1.47-.84-2.01-.22-.53-.44-.46-.61-.46h-.52c-.18 0-.48.07-.73.34-.25.27-.96.94-.96 2.28 0 1.34.98 2.63 1.12 2.81.14.18 1.93 2.94 4.69 4.13.65.28 1.16.45 1.56.57.65.21 1.24.18 1.7.11.52-.08 1.6-.65 1.83-1.28.23-.63.23-1.17.16-1.28-.07-.11-.25-.18-.52-.3z"/>
  </svg>
</a>
