---
import Navbar from "../components/Navbar.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout>
  <Navbar />
        <h1> Hola Mundo </h1>
  <Footer />
</BaseLayout>


